<div class="container">
  <h2>ユーザー詳細ページ</h2>
  <% @user %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        　<%= profile_img(@user) %>
        　<%= @user.email %>
          <%= @user.followed_users.each do |user| %>
          <%= @user.followers.each do |user| %>


      <li>
      <div class="item">

      </div>
      </li>

</div>
<% end %>
